<div class="col_fade">
  <p>58fe 社区为国内最专业的前端技术社区，致力于前端技术研究探讨。</p>
  <p>
    服务器搭建在
    <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=jh5fwy2j" target="_blank"
      class="sponsor_outlink" data-label="aliyun">
      <img src="<%- helper.staticFile('/public/images/aliyun.png') %>" title="aliyun" alt="aliyun" />
    </a>
    ，存储赞助商为
    <a href="https://portal.qiniu.com/signup?code=1hjz770w7klle" target="_blank" class="sponsor_outlink"
      data-label="qiniu_bottom">
      <img src="<%- helper.staticFile('/public/images/qiniu.png') %>" title="七牛云存储" alt="七牛云存储" />
    </a>
  </p>

</div>