<div id="sidebar">
    <% if (current_user) { %>
    <div class="panel">
      <div class="header">
        <span class="col_fade">发布</span>
      </div>
      <div class="inner release">
        <a href="/topic/create" id="create_topic_btn">
        
          <span class="span-success">
            话题
          </span>
        </a>
        <a onclick="alert('开发中')">
          <span class="span-success">文章</span>
        </a>
        <a onclick="alert('开发中')">
          <span class="span-success">圈子</span>
        </a>
        <a onclick="alert('开发中')">
          <span class="span-success">问题</span>
        </a>
        <a onclick="alert('开发中')">
          <span class="span-success">工作</span>
        </a>
      </div>
    </div>
    <% } %> 
  <div class="panel">
    <% if (typeof user !== 'undefined' || current_user) { %>
    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <%- include('./user/card.html', { user: typeof user === 'undefined' ?
      current_user : user }) %>
    </div>
    <% } else { %>
    <div class="inner">
      <p><%= config.description %></p>

      <div>
        您可以
        <a href="/signin">登录</a>
        或
        <a href="/signup">注册</a>
        , 也可以
        <a href="/passport/github">
          <span class="span-info">
            通过 GitHub 登录
          </span>
        </a>
      </div>
    </div>
    <% } %>
  </div>


  <% if (!current_user || !current_user.isAdvanced) { %> <%- include
  ./_ads.html %> <% } %> <% if (typeof no_reply_topics !== 'undefined') { %>
  <div class="panel">
    <div class="header">
      <span class="col_fade">无人回复的话题</span>
    </div>
    <div class="inner">
      <% if (no_reply_topics.length > 0) { %>
      <ul class="unstyled">
        <% no_reply_topics.forEach(topic => { %> <%-
        include('./topic/small.html', { topic }) %> <% }) %>
      </ul>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %> <% if (typeof tops !== 'undefined') { %>
  <div class="panel">
    <div class="header">
      <span class="col_fade">积分榜</span>
      &nbsp;
      <a class="dark" href="/users/top100">TOP 100 &gt;&gt;</a>
    </div>
    <div class="inner">
      <% if (tops.length > 0) { %>
      <ol>
        <% tops.forEach(user => { %> <%- include('user/top.html', { user }) %>
        <% }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class="panel">
    <div class="header">
      <span class="col_fade">社区微信公众号</span>
    </div>
    <div class="inner cnode-app-download">
      <img src="https://mmbiz.qpic.cn/mmbiz_gif/5b4ibbmryfW5ibOzjmKOAX1jcpJVo6XB5snZ7aEBZ1rMJQZhsZD4bZqVgDxXtarv3WoGLDyZNITJEnA7TGfhfILQ/0?wx_fmt=gif"
      />
      <br />
    </div>
  </div>
  <div
    class="panel add-favorite"
    onclick="AddFavorite('前端社区',location.href)"
  >
    <div class="inner">
      <a href="javascript:void(0);">⭐️收藏本站</a>
    </div>
  </div>
  <script>
    function AddFavorite(title, url) {
      try {
        window.external.addFavorite(url, title);
      } catch (e) {
        try {
          window.sidebar.addPanel(title, url, "");
        } catch (e) {
          alert("点击确定后按快捷键Ctrl+D就可以啦！");
        }
      }
    }
  </script>
  <div class="panel">
    <div class="header">
      <span class="col_fade">友情链接</span>
    </div>
    <div class="inner">
      <ol class="friendship-community">
        <li>
          <a
            href="http://www.ruanyifeng.com/blog/?ref=https://58fe.com"
            target="_blank"
          >
            阮一峰的网络日志
          </a>
        </li>
        <li>
          <a href="https://juejin.im/?ref=https://58fe.com" target="_blank">
            掘金
          </a>
        </li>
        <!-- <div class="sep10"></div> -->
        <li>
          <a
            href="https://segmentfault.com/?ref=https://58fe.com"
            target="_blank"
          >
            思否
          </a>
        </li>
        <!-- <div class="sep10"></div> -->
        <li>
          <a
            href="https://www.zhangxinxu.com/?ref=https://58fe.com"
            target="_blank"
          >
            张鑫旭的个人博客
          </a>
        </li>
      </ol>
    </div>
  </div>
</div>
